<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ea.scratchthathabit">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScratchingAlert"
            android:label="@string/app_name"
            android:parentActivityName="ea.scratchthathabit.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ea.scratchthathabit.MainActivity" />
        </activity>
        <activity
            android:name=".ScratchingSolution"
            android:label="@string/app_name"
            android:parentActivityName="ea.scratchthathabit.ScratchingAlert" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ea.scratchthathabit.ScratchingAlert" />
        </activity>
        <activity
            android:name=".ScratchingDistraction"
            android:label="@string/app_name"
            android:parentActivityName="ea.scratchthathabit.ScratchingSolution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ea.scratchthathabit.ScratchingSolution" />
        </activity>
        <activity
            android:name=".ScratchingResolution"
            android:label="@string/app_name"
            android:parentActivityName="ea.scratchthathabit.ScratchingSolution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ea.scratchthathabit.ScratchingSolution" />
        </activity>
        <activity
            android:name=".ContextualReminder"
            android:label="@string/app_name"
            android:parentActivityName="ea.scratchthathabit.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ea.scratchthathabit.MainActivity" />
        </activity>
        <activity
            android:name=".TimedReminder"
            android:label="@string/app_name"
            android:parentActivityName="ea.scratchthathabit.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ea.scratchthathabit.MainActivity" />
        </activity>
        <activity
            android:name=".ItemList"
            android:label="@string/app_name"
            android:parentActivityName="ea.scratchthathabit.ContextualReminder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ea.scratchthathabit.ContextualReminder" />
        </activity>
    </application>

</manifest>
